spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/pizza_springadvanced2022?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
#    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  sql:
    init:
      mode: never
  mvc:
    hiddenmethod:
      filter:
        enabled: true
logging:
  level:
    org:
      hibernate:
#        type:
#          descriptor: TRACE
        SQL: DEBUG
      nodeValue: WARN
    blog: WARN    
    
##Cloudinary Properties
#cloudinary:
#  api-key: ${CLOUDINARY_API_KEY}
#  api-secret: ${CLOUDINARY_API_SECRET}
#  cloud-name: ${CLOUDINARY_CLOUD_NAME}  
