<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
    <title>Pizza</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<header th:replace="fragments/common :: navbar">
</header>

<div class="container py-5">
	<h2 class="text-center text-white mt-5" th:text="#{offer}">Offers</h2>
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col col-xl-7">
            <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                   
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form	id="orderForm"
                                    th:object="${order}" >

                                 <div class="card-img-top-wrapper">
                    				<img id="imageUrl" class="card-img-top" th:src="*{imageUrl}" alt="salad image">
                				</div>
                				
                				<div class="text-center">
		                            <h2 id="productName" class="fw-bolder text-success" th:text="*{name}"></h2>
		                            <h5 class="fw-bolder " th:text="*{description}"></h5>
		                            <h5 id="price" class="fw-bolder fs-6 hidden" th:text="*{price}"></h5>
		                            <h5 id="priceAdjusted" class="fw-bolder fs-6 hidden" th:text="*{price}"></h5>
		                            <h5 id="totalAmount" class="fw-bolder fs-6 " th:text="|*{price} BGN|"></h5>
		                            <h5 id="productId" class="fw-bolder fs-6 hidden" th:text="|*{id}|"></h5>
		                            <h5 id="category" class="fw-bolder fs-6 hidden" th:text="|*{category}|"></h5>
		                            
		                            
		              			</div>

                                <div th:if="*{category=='PIZZA'}" class="form-outline mb-4">
                                    <label for="size" th:text="#{size}">Size</label>
                                    <select
                                            th:field="*{size}"
                                            th:errorclass="'is-invalid'"
                                            aria-describedby="sizeError"
                                            required
                                            id="size" class="custom-select">                                       
                                        <option value="Medium"  selected th:text="#{medium}">Medium</option>
                                        <option value="Large" th:text="#{large}">Large</option>
                                        <option value="ExtraLarge" th:text="#{extralarge}">ExtraLarge</option>
                                    </select>
                                    <small id="sizeError"
                                           class="invalid-feedback rounded form-text">Size is required.</small>

                                </div>
                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="quantity" th:text="#{quantity}">Quantity</label>
                                    <input th:field="*{quantity}"
                                           th:errorclass="'is-invalid'"
                                           aria-describedby="quantityError"
                                           type="number" 
                                           id="quantity"
                                           class="form-control form-control-lg"
                                           min="1"/>

                                    <small id="quantityError"
                                           class="invalid-feedback rounded form-text">
                                        Quantity must be positive number.</small>
                                </div>


                                <div class="pt-1 mb-4">
                                    <input id="addToCartBtn" type="submit" class="btn btn-success btn-lg btn-block" th:value="#{add_to_cart}"/>
                                </div>

                            </form>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="empty_space bg-blur">

<footer th:replace="fragments/common :: footer">
</footer>
<script src="/js/addToCart.js"></script>
</body>
</html>