<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/common :: head">
</head>

<body>


	<div th:replace="fragments/common :: navbar">Navbar</div>


	<div class="container-fluid">
		<h2 class="text-center text-white mt-5" th:text="#{users}">Users</h2>
 		<div class="row mx-auto d-flex flex-row justify-content-center">
		<table id="ordersTable" class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th th:text="#{email}">email</th>
					<th th:text="#{firstName}">firstName</th>
					<th th:text="#{lastName}">lastName</th>
					<th th:text="#{isAdmin}">isAdmin</th>
					<th th:text="#{isUser}">isUser</th>
					<th th:text="#{isCook}">isUser</th>
				</tr>
			</thead>
			<tbody id="orders-container">
				<tr th:each="user : ${users}" th:object="${user}">
					<td >
						<span th:text="*{email}">email</span>
						 <form 
	                           th:action="@{/users/delete/{userId}(userId = *{id})}"
	                           th:method="DELETE"
	                           th:object="${user}" >
							<button class="btn-danger" th:text="#{removeUser}">Remove User</button> 
						</form> 
					
					</td>
					<td th:text="*{firstName}">userFirstName</td>
					<td th:text="*{lastName}">userLastName</td>
					<td>
						<span th:if="*{isAdmin == false}" class="text-danger" style="font-size: 1.5vw;"> &#10006; 
							</span>
						 <form th:if="*{isAdmin == false}"
	                                    th:action="@{/users/addAdminRole/{userId}(userId = *{id})}"
	                                    th:method="POST"
	                                    th:object="${user}" >
							<button class="btn-info" th:text="#{addAdminRole}">Add Admin Role</button> 
						</form>
						<div th:unless="*{isAdmin == false}" class="text-success" style="font-size: 1.5vw;"> &#10004;
						</div>
						<form th:unless="*{isAdmin == false}"
		                                    th:action="@{/users/removeAdminRole/{userId}(userId = *{id})}"
		                                    th:method="POST"
		                                    th:object="${user}" >
								<button class="btn-danger" th:text="#{removeAdminRole}">Remove Admin Role</button> 
							</form>
					</td>
					<td>	<span th:if="*{isUser == false}" class="text-danger" style="font-size: 1.5vw;"> &#10006; 
							</span>
							<form th:if="*{isUser == false}"
		                                    th:action="@{/users/addUserRole/{userId}(userId = *{id})}"
		                                    th:method="POST"
		                                    th:object="${user}" >
								<button class="btn-info" th:text="#{addUserRole}">Add User Role</button> 
							</form>
							<span th:unless="*{isUser == false}" class="text-success" style="font-size: 1.5vw;"> &#10004;
							</span>
							<form th:unless="*{isUser == false}"
		                                    th:action="@{/users/removeUserRole/{userId}(userId = *{id})}"
		                                    th:method="POST"
		                                    th:object="${user}" >
								<button class="btn-danger" th:text="#{removeUserRole}">Remove User Role</button> 
							</form>

					</td>
					<td>
							<span th:if="*{isCook == false}" class="text-danger" style="font-size: 1.5vw;"> &#10006; 
							</span>
							<form th:if="*{isCook == false}"
		                                    th:action="@{/users/addCookRole/{userId}(userId = *{id})}"
		                                    th:method="POST"
		                                    th:object="${user}" >
								<button class="btn-info" th:text="#{addCookRole}">Add Cook Role</button> 
							</form>
							<span th:unless="*{isCook == false}" class="text-success" style="font-size: 1.5vw;"> &#10004;
							</span>
							<form th:unless="*{isCook == false}"
		                                    th:action="@{/users/removeCookRole/{userId}(userId = *{id})}"
		                                    th:method="POST"
		                                    th:object="${user}" >
								<button class="btn-danger" th:text="#{removeCookRole}">Remove Cook Role</button> 
							</form>

					</td>
				</tr>
			</tbody>
		</table>

	</div>

	</div>


	<div class="empty_space bg-blur"></div>
	<div th:replace="fragments/common :: footer">Footer</div>


<script src="/js/deleteFromCart.js"></script>
</body>
</html>
